<dl>
  <dt>
    <label for='bookmark_name'> Name: </label>
  </dt>
  <dd>
    <input id='bookmark_name' type='text' name='bookmark[name]' value='<%= @bookmark.name %>' autofocus>
  </dd>
  <dt>
    <label for='bookmark_description'> Description: </label>
  </dt>
  <dd>
    <input id='bookmark_description' type='text' name='bookmark[description]' value='<%= @bookmark.description %>'>
  </dd>
  <dt>
    <label for='bookmark_url'>URL: </label>
  </dt>
  <dd>
  <input id='bookmark_url' type='text' name='bookmark[url]' value='<%= @bookmark.url %>'>
  </dd>
</dl>

<div class='clear_both'></div>